@font-face {
    font-family: "TT Lakes";
    src:  url(../fonts/TTLakes-Regular.woff) format(woff),
            url(../fonts/TTLakes-Regular.eot) format(eot);
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src:  url(../fonts/TTLakes-Bold.woff) format(woff),
            url(../fonts/TTLakes-Bold.eot) format(eot);
    font-weight: bold;
}

@font-face {
    font-family: "TT Lakes";
    src:  url(../fonts/TTLakes-Medium.woff) format(woff),
            url(../fonts/TTLakes-Medium.eot) format(eot);
    font-size: medium;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: inherit;
  }

body {
    background-color:#F8F8F8;
}

.container {
    display: flex;
    flex-direction: column;
}

.container__header {
    display: flex;
    width: inherit;
    height: 88px; 
}

.nav-bar {
    display: flex;
    justify-content:space-between;
    flex: 1 1 auto;
    align-items: center;
}
.nav-bar__ref,
.nav-bar__item {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    margin: 1.5rem 0.5rem;
}

.nav-bar__ref:first-child {
    margin-left: 1rem;
}

.nav-bar__logo {
    margin-left: 1rem;
}

.nav-bar__divider {
    height: 32px;
    border: 2px #EAEAEA solid;
    /* margin-right: 0.75rem; */
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1px;
  }

  .nav-bar__divider--middle-sc,
  .nav-bar__ref--middle-sc {
    display: none; 
  }

.container__shadow {
    max-width: inherit;
    height: 1px;
    flex-shrink: 0;
    background-color: #D9FFF5;
}

.main {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

.header-main {
    display: flex;
    margin-top: 5%;
}

.header-main__highlight {
    margin-right: 8px;
    flex-shrink: 0;
}

.header-main__h1 {
    display: flex;
    align-items: center;
    width: 90%;
    height: inherit;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.header-main__nav {
    display: none;
}

.slide-bar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 1.5rem;
    margin-left: 1rem;
    align-items: center;
    flex-basis: content;
}

.slide-bar::-webkit-scrollbar {
    display: none;
}

.slide-bar__ref {
    margin: 1px;
    padding: 0.5rem 1rem;
    font-family: "TT Lakes", sans-serif;
    color: #7E7E82;
    font-size: medium;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
    white-space: nowrap;
}

.slide-bar__ref:hover {
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFF;
  }

.section {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    height: 1rem;
    flex: 1 1 auto;
}

.section__text {
    /* display: flex; */
    max-width: 50em;
    margin-left: 1rem;
    margin-right: 1rem;
}

.section__paragraph {
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.section__reading {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 1rem;
}
.section__button-text {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.section__button-svg {
    display: flex;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.section__main-picture {
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section__main-picture--middle-sc,
.section__main-picture--large-sc {
    display: none;
}

.section__paragraph--middle-sc {
    display: none;
}

@media (min-width: 768px) {
    .nav-bar__ref,
    .nav-bar__item {
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        margin: 1.5rem 0.5rem;
    }

    .nav-bar__divider--middle-sc {
        display: block;
        margin-left: 1.2rem;
        margin-right: 1.2rem; 
    }
    .nav-bar__divider--small-sc {
        display: none;
    }

    .nav-bar__logo--margins {
        margin-left: 0;
    }

    .nav-bar__ref--middle-sc-margins {
        margin-left: 0;
    }

    .header-main__highlight {
        margin-right: 1rem;
    }

    .header-main__nav {
        display: none;
    }

    .section {
        flex-direction: row;
    }

    .section__text {
        display: block;
    }

    .section__main-picture--middle-sc {
        display: block;
        margin-top: 0;
    }

    .section__main-picture--small-sc,
    .section__main-picture--large-sc {
        display: none;
    }

    .section__paragraph--middle-sc {
        display: block;
        padding-top: 1rem;   
    }

    .section__paragraph--large-sc {
        display: none;
    }
}

@media (min-width: 1120px) {

    .container--width--large-sc {
        width: 1120px;
    }
    
    .container__header,
    .container__shadow {
        display: none;
    }

    .header-main {
        margin-top: 42px;
    }

    .header-main__highlight {
        margin-right: 1rem;
    }

    .header-main__nav {
        display: flex;
    }

    .header-main__nav--text {
        color: #1B1C21;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-wrap: nowrap;
        align-items: center;
    }

    .header-main__nav-img {
        margin-left: 0.57rem;
    }

    .header-main__nav-img {
        margin-right: 2rem;
    }

    .slide-bar {
        flex-wrap: wrap;
        overflow-x: unset;
    }

    .section__paragraph--large-sc {
        display: block;
    }

    .section__main-picture--middle-sc {
        display: none;
    }

    .section__main-picture--large-sc {
        display: block;
        margin-top: 0;
    }
}